# Ignore node_modules directory
node_modules/

# Ignore Next.js build output
.next/

# Ignore development server logs
logs/

# Ignore environment variables file
.env
.env.local

# Ignore build artifacts and compiled code
out/
dist/
*.log

# Ignore package-lock.json or yarn.lock
package-lock.json
yarn.lock
